* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

.button {
  background: #49a7e6;
  color: white;
  font: inherit;
  border: 1.5px solid #012169;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #012169;
}

.button[disabled] {
  cursor: not-allowed;
  border: darkgray;
  background: darkgray;
  color: gray;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #012169;
  padding: 0.5rem 1rem;
  z-index: 10;
}

.header > div {
  display: inline-block;
  vertical-align: middle;
}

.header__icon {
  margin: 0;
  width: 4rem;
  height: 2rem;
  border: 1px solid white;
  display: inline-block;
  vertical-align: middle;
}

.header-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.header-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav__item {
  display: inline-block;
  margin: 0 10px;
}

.header-nav__item a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 3px 0;
}

.header-nav__item a:hover,
.header-nav__item a:active {
  color: #49a7e6;
  border-bottom: 2px solid white;
}

.header-nav__item--cta a {
  color: #012169;
  background: greenyellow;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.header-nav__item--cta a:hover,
.header-nav__item--cta a:active {
  color: #012169;
  background: white;
  border: none;
}

.footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer__link {
  display: inline-block;
  margin: 0 16px;
}

.footer__link a {
  color: white;
  text-decoration: none;
}

.footer__link a:hover,
.footer__link a:active {
  color: #ccc;
}

#overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/australia.jpg") left 10% bottom 70% / cover no-repeat border-box,
    white;
  width: 100vw;
  height: 100vh;
  margin-top: 2.75rem;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}

#overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: relative;
  top: 5%;
  left: 3%;
}

.section-title {
  color: #012169;
  text-align: center;
}

.option-title {
  color: #012169;
  text-align: center;
}

#plans {
  position: relative;
  top: 10%;
}

.plans__modal {
  display: flex;
  justify-content: center;
  width: 400px;
  min-height: 250px;
  position: absolute;
  top: 20%;
  border: 1px solid #012169;
  border-radius: 15px;
  z-index: 5;
}

.plans__button {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1em;
}

.plans__btn--open {
  position: absolute;
  bottom: 15opx;
}

.plans__btn--close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.plans__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

#key-highlights {
  background: #49a7e6;
  margin-top: 80px;
  padding: 16px;
}

#key-highlights .section-title {
  color: white;
  margin: 32px;
}

.key-highlights__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-highlight {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-highlight__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}

.key-highlight__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

/* Styling for the Contact Form */

.contact-page {
  padding-top: 4rem;
}

.contact-title {
  text-align: center;
  font-size: 1.8rem;
  color: #012169;
}

.contact-text {
  text-align: center;
  padding-top: 1rem;
  font-weight: bold;
}

/* .contact-form {
  padding: 1rem;
} */

.contact-form label {
  font-weight: bold;
}

.contact-form label,
.contact-form input,
.contact-form select {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.contact-form input {
  margin-top: 0.5rem;
}

.contact-form input:not([type="checkbox"]),
.contact-form select {
  padding: 0.2rem 0.5rem;
  font: inherit;
}

.contact-form input[type="checkbox"],
.contact-form label[for="agree-terms"] {
  display: inline-block;
  width: auto;
  padding: 0;
}

.contact-form input[type="checkbox"] {
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid #012169;
  background: white;
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.contact-form input[type="checkbox"]:checked {
  background-color: #012169;
  border: #49a7e6;
}

.contact-form input.invalid,
.contact-form :invalid {
  border-color: red !important;
}

.contact-form button {
  display: block;
  margin-top: 1rem;
}

@media (min-width: 40rem) {
  .contact-form {
    margin: auto;
    width: 25rem;
  }
}
